<title>Rebia Library</title>
<link rel="shortcut icon" type="image/jpg" href="https://avatars.githubusercontent.com/u/77171379?s=200&v=4"/>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<h1 id="rebia">Rebia</h1>
<p>table of contents</p>
<ul>
   <li><a href="https://rebiaa.github.io/#search-engines">Search Engines</a> used to find scientific literature.</li>
   <li><a href="https://rebiaa.github.io/#research">Research</a>Some extra sites to read more about a new topic.</li>
   <li><a href="https://rebiaa.github.io/#pdfs">PDF's</a> sites to find some more PDF's that might help you out.</li>
   <li><a href="https://rebiaa.github.io/#jp">jp</a> 科学研究。</li>
   <li><a href="https://rebiaa.github.io/#philosophy">Philosophy</a> Resources for Philosophy.</li>
   <li><a href="https://rebiaa.github.io/#science">Science</a> Resources for all sorts of stuff.</li>
   <li><a href="https://rebiaa.github.io/#tech">Tech</a></li>
   <li><a href="https://rebiaa.github.io/#tests">Tests</a> tests you can take to get to know yourself better.</li>
</ul>
<h2 id="useful-links">Useful Links</h2>
<h3 id="search-engines">Search Engines</h3>
<ul>
   <li><a href="https://pubmed.ncbi.nlm.nih.gov/">PubMed</a> PubMed® comprises more than 33 million citations for biomedical literature from MEDLINE, life science journals, and online books. Citations may include links to full text content from PubMed Central and publisher web sites.</li>
   <li><a href="https://eric.ed.gov/">ERIC</a> Institute of Education Sciences.</li>
   <li><a href="https://www.semanticscholar.org/">SemanticScholar</a> A free, AI-powered research tool for scientific literature.</li>
   <li><a href="https://scholar.google.com/">Google Scholar</a></li>
   <li><a href="https://www.sciencedirect.com/search">ScienceDirect</a> Explore scientific, technical, and medical research on ScienceDirect.</li>
</ul>
<h3 id="research">Research</h3>
<ul>
<li><a href="https://www.semanticscholar.org/">SemanticScholar</a> A free, AI-powered research tool for scientific literature.</li>
<li><a href="https://wikiversity.org/">Wikiversity</a> is a Wikimedia Foundation project devoted to learning resources, learning projects, and research for use in all levels, types, and styles of education from pre-school to university, including professional training and informal learning.</li>
</ul>
<h3 id="pdfs">PDF's</h3>
<ul>
<li><a href="https://www.reddit.com/r/FreeEBOOKS">/r/FreeEBOOKS</a></li>
<li><a href="https://snewd.com/">Snewd</a></li>
<li><a href="https://the-eye.eu/public/Books/">the-eye.eu</a></li>
<li><a href="https://z-lib.org/">ZLibrary</a></li>
<li><a href="https://www.pdfdrive.com/">PDF Drive</a> is your search engine for PDF files.</li> 
<li><a href="https://cse.google.com/cse?cx=000661023013169144559:a1-kkiboeco">Programmable Google Search for Books</a></li>
</ul>

<h3 id="jp">jp</h3>
<ul>
<li><a href="https://www.aozora.gr.jp/">aozora</a> インターネットの電子図書館</li>
<li><a href="https://archive.org/details/booksbylanguage_japanese">Archive.org</a> Japanese: Books by Language</li>
<li><a href="https://honto.jp/cp/ebook/recent/free.html?cid=ip_hpp_keyword_03">honto.jp</a></li>
<li><a href="https://scienceportal.jst.go.jp/index.html">サイエンスポータル</a> 科学技術の最新情報サイト</li>
<li><a href="https://sankoudesign.com/category/science-research/">SANKOU!</a></li>
<li><a href="https://www.philosophyguides.org/">Philosophy Guides</a> このサイトは、古代から現代にかけての哲学の著作と思想を紹介する、哲学ガイドブログです</li>
<li><a href="https://studyhacker.net">スタディーハッカー</a></li>
<li><a href="https://psych.or.jp/">公益社団法人 日本心理学会</a></li>
<li><a href="https://tetsugakudo.biz/link1">tetsugakudo.biz</a> 哲学の勉強や学習に役立つサイト集</li>
<li><a href="https://www.youtube.com/channel/UCFo4kqllbcQ4nV83WCyraiw">中田敦彦のYouTube大学 - NAKATA UNIVERSITY</a> 中田敦彦が「教育系YouTuber」として、学べる動画を毎週４本更新（水・木・土・日）
   </li>
</ul>

<h3 id="philosophy">Philosophy</h3>
<ul>
<li><a href="https://plato.stanford.edu/index.html">Stanford Encyclopedia of Philosophy</a></li>
<h3 id="philosophy-videos">Videos</h3>
<ul>
<li><a href="https://www.youtube.com/watch?v=VDiyQub6vpw&list=PLwxNMb28XmpeypJMHfNbJ4RAFkRtmAN3P">Western Philosophy</a></li>
<li><a href="https://www.youtube.com/watch?v=5yZ8a_zAEl0&list=PLwxNMb28XmpeUL1vz9Su7OmeghBDgmj7X">Eastern Philosophy</a></li>
<li><a href="https://www.youtube.com/watch?v=BNYJQaZUDrI&list=PL8dPuuaLjXtNgK6MZucdYldNkMybYIHKR">CrashCourse Philosophy</a></li>
<h3 id="philosophy-channels">Channels</h3>
<ul>
<li><a href="https://www.youtube.com/channel/UCybBViio_TH_uiFFDJuz5tg">Einzelgänger</a></li>
<li><a href="https://www.youtube.com/channel/UC-tLyAaPbRZiYrOJxAGB7dQ">Pursuit of Wonder</a></li>
<li><a href="https://www.youtube.com/channel/UCn3h6LOHHALY4mYH8XAU5eg">Kato</a></li>
<li><a href="https://www.youtube.com/channel/UCDETFHKteb-C_EaXmRKvP4w">Sisyphus 55</a></li>
<li><a href="https://www.youtube.com/channel/UC7IcJI8PUf5Z3zKxnZvTBog">The School Of Life</a></li>
<li><a href="https://www.youtube.com/channel/UClmrEouTBM5JI7m2CGdjd9A">Anime Philosopher</a></li>
<li><a href="https://www.youtube.com/c/vlogbrothers">vlogbrothers</a></li>
</ul>
</ul>
</ul>

<h3 id="psychology">Psychology</h3>
<ul>
<li><a href="https://www.16personalities.com/">16 Personalities</a></li>
<h3 id="psychology-videos">Videos</h3>
<ul>
<li><a href="https://www.youtube.com/watch?v=eal4-A89IWY&list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6">Crash Course Psychology</a></li>
<li><a href="https://www.youtube.com/watch?v=P3FKHH2RzjI&list=PL40FE9B26043AC0F9">Learn Psychology - All about Psychology</a></li>
<li><a href="https://www.youtube.com/watch?v=GAPqEAWW9lc&list=PLCqVjSmgi6Go_5lfKBo1C8jEXrV6QD1kz">Mind Field - Youtube Original</a> the only thing worth watching on YouTube.</li>
</ul>
<h3 id="psychology-channels">Channels</h3>
<ul>
<li><a href="https://www.youtube.com/channel/UClHVl2N3jPEbkNJVx-ItQIQ">HealthyGamerGG</a></li>
<li><a href="https://www.youtube.com/c/JordanPetersonVideos">Jordan Peterson</a></li>
</ul>
</ul>
<h3 id="science">Science</h3>
<ul>
<li><a href="https://www.healthline.com/">Healthline</a></li>
<li><a href="https://www.webmd.com/default.htm">WebMD</a></li>
<li><a href="https://www.medicalnewstoday.com/">MedicalNewsToday</a></li>
<li><a href="https://www.sciencedaily.com/">ScienceDaily</a></li>
<h3 id="science-channels">Channels</h3>
<ul>
<li><a href="https://www.youtube.com/c/vsauce1">Vsauce</a></li>
<li><a href="https://www.youtube.com/user/wwwboyinabandcom">Boyinaband</a></li>
<li><a href="https://www.youtube.com/channel/UCimiUgDLbi6P17BdaCZpVbg">exurb1a</a></li>
<li><a href="https://www.youtube.com/channel/UCVQGtUcRjHTQLTTu-5s9_4Q">Brew</a></li>
<li><a href="https://www.youtube.com/channel/UCsT0YIqwnpJCM-mx7-gSA4Q">TEDx Talks</a></li>
<li><a href="https://www.youtube.com/user/AsapSCIENCE/videos">AsapScience</a></li>
<li><a href="https://www.youtube.com/channel/UCBa659QWEk1AI4Tg--mrJ2A">Tom Scott</a></li>
<li><a href="https://www.youtube.com/c/AlphaPhoenixChannel/videos">AlphaPhoenix</a></li>
</ul>
</ul>

<h3 id="tech">Tech</h3>
<ul>
<li><a href="https://citeseerx.ist.psu.edu/index">CiteSeerX</a> a site to find Computer Science papers.</li>
<li><a href="https://www.youtube.com/user/MentalOutlawStudios">Mental Outlaw</a></li>
<li><a href="https://www.youtube.com/channel/UCsnGwSIHyoYN0kiINAGUKxg">Wolfgang's Channel</a></li>   
<li><a href="https://www.youtube.com/channel/UC2eYFnH61tmytImy1mTYvhA">Luke Smith</a></li>
<li><a href="https://www.youtube.com/channel/UCngn7SVujlvskHRvRKc1cTw">BugsWriter</a></li>
<li><a href="https://www.youtube.com/channel/UCUzQJ3JBuQ9w-po4TXRJHiA">jdh</a></li>
<li><a href="https://www.youtube.com/channel/UCRb6Mw3fJ6OFzp-cB9X29aA">Junferno</a></li>
<li><a href="https://www.youtube.com/channel/UCDrekHmOnkptxq3gUU0IyfA">Devon Crawford</a></li>
<li><a href="https://www.youtube.com/channel/UCrUL8K81R4VBzm-KOYwrcxQ">Engineer Man</a></li>
<li><a href="https://www.youtube.com/channel/UCjr2bPAyPV7t35MvcgT3W8Q">The Hated One</a></li>
<li><a href="https://www.youtube.com/channel/UCVls1GmFKf6WlTraIb_IaJg">DistroTube</a></li>
</ul>
</ul>
</ul>
<h3 id="tests">Tests</h3>
<ul>
<h3>Please keep in mind that these tests are not professional diagnosis, but can give you a rough idea on ideas you can explore. For professional advice, visit a doctor or professional on the topic.</h3>
<ul>
<li><a href="https://www.16personalities.com/">16 Personalities</a> find out your MBTI-type.</li>
<li><a href="https://dichotomytests.com/">Dichotomy Tests</a> provides interesting tests that show you how inclined you are toward certain philosophical, psychological or political views.</li>
<li><a href="https://qst.darkfactor.org/">DarkFactor</a> Learn more about your dark traits - ethically, morally, and socially questionable behavior.</li>
</ul>
</ul>
</ul>
