@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
   background-color: #1d1f21;
   color: #d4c0d0;
   margin-left: 20%;
   margin-top: 3%;
   margin-bottom: 3%;
   font-family: 'Open Sans', sans-serif;
}
a {
   color: #9b758f;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
